{% extends 'base.html' %}

{% block title %}Author Detail{% endblock %}

{% block content %}

<button onclick="window.location.href='/newtweet/'" type="button" class="btn btn-success">New Tweet</button>
<button onclick="window.location.href='/users/logout/'" type="button" class="btn btn-primary">Logout</button>
<button onclick="window.location.href='/'" type="button" class="btn btn-danger">Home</button>


  <h1>Author Detail</h1>
  <p># of Accounts I am Following: {{author.followers.all.count}}</p>
  <p># of Tweets I have written: {{count}}</p>
  <div style=justify-content:center class='row'>

      

    <div style=margin:15px class='card card-body'>
      
      <h1>People following me:</h1>
      <ul>
      {% for each in author.following.all %}
      <li>{{each}}</li>

      {% endfor %}
    </ul>

    <h1>People I am Following:</h1>
      {% for each in author.followers.all %}
        <li>{{each}}</li>
      {% endfor %}
    </div>


</div>
{% endblock %}