{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <p>Hi username: {{ user.username }}!</p>
  <p>Hi displayname: {{ user.display_name }}</p>
  <p>Hi userId: {{user.id}}</p>
  <h1>{{user.last_login}}</h1>
  <p><a href="/newtweet/">Write a Tweet</a></p>
  <p><a href="/users/logout/">logout</a></p>

  <a href="/notifications/">Notifications: {{count_notif}}</a>

<div style=justify-content:center class='row'>



<h1>My Tweets and Tweets From People I am Following</h1>

  
{% for tweet in followingTweets %}

  <div style=margin:15px class='card card-body'>
      <p><a href="/tweetdetail/{{tweet.id}}/">{{tweet.tweet}}</a></p>
      <p><a href="/authordetail/{{tweet.author.id}}/">{{tweet.author}}</a></p>
      <a href="/followme/{{tweet.author.id}}/">Follow Me</a>
      <a href="/unfollowme/{{tweet.author.id}}/">UnFollow Me</a>
      <p>{{tweet.timestamp}}</p>

  </div>
  
  {% endfor %}

{% endblock %}