{% extends 'base.html' %}

{% block title %}Tweet Detail{% endblock %}

{% block content %}

  <p>Hi username: {{ user.username }}!</p>
  <p>Hi displayname: {{ user.display_name }}</p>
  <button onclick="window.location.href='/newtweet/'" type="button" class="btn btn-success">New Tweet</button>
  <button onclick="window.location.href='/users/logout/'" type="button" class="btn btn-primary">Logout</button>

  <button onclick="window.location.href='/'" type="button" class="btn btn-danger">Home</button>

  <h1>Tweet Detail</h1>
  <div style=justify-content:center class='row'>


    <div style=margin:15px class='card card-body'>
      <p>{{tweet.tweet}}</p>
        <p>{{tweet.author}}</p>
        <p>{{tweet.timestamp}}</p>

    </div>


</div>
{% endblock %}